@layer base {
	@font-face {
		font-family: 'Poppins';
		src: local('Poppins'), url('/static/fonts/poppins.ttf') format('truetype');
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: local('Montserrat'), url('/static/fonts/montserrat.ttf') format('truetype');
		font-display: swap;
	}
}
